@import '../../variables';

.footer {
  background-image: linear-gradient(#131313, #000077, rgb(15, 15, 170));
  width: calc(100vw - (100vw - 100%));
  color: $yellow;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2px;
}

.footerIcons {
  margin-left: 50px;
  width: 150px;
  display: flex;
  justify-content: space-between;
}

.footerText {
  margin-right: 50px;
  margin-left: 10px;
  width: calc(100% - 150px - 60px - 20px);
  text-align: center;
}

@media(max-width: 800px){
  .footerHide {
    display: none;
  }
  .footerText{
    font-size: 14px;
  }
}

@media(max-width: 400px){
  .footer{
    width: 100vw;
  }
  .footerIcons{
    margin-left: 20px;
  }
  .footerText{
    margin-right: 20px;
    font-size: 12px;
  }
}