@import './Components/Navbar/Navbar';
@import './Components/Home/Home';
@import './Components/PostShow/Post';
@import './Components/Comments/Comment';
@import './Components/Auths/Auths';
@import './Components/NewPost/NewPost';
@import './Components/NewPostElements/NewPostElements';
@import './Components/NewElement/NewElement';
@import './Components/Quote/Quote';
@import './Components/Footer/Footer';

body {
  min-height: 100vh;
  width: calc(100vw - (100vw - 100%));
  // background-image: linear-gradient(90deg, $teal, $lightblue);
  // background-image: url('https://simplejoys.s3.us-east-2.amazonaws.com/neighborhood-1570799839221.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  // background-color: #c7c8ca;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: 'Montserrat', sans-serif;
  z-index: -2;
}

#root {
  min-height: inherit;
  width: inherit;
}

.App {
  min-height: inherit;
  width: inherit;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  justify-self: center;
  align-self: flex-start;
  cursor: default;
}

.loginSuccess {
  position: fixed;
  top: 85px;
  background: rgba(0, 128, 0, 0.808);
  color: white;
  z-index: 1;
  border-radius: 5px;
  display: none;
  font-size: 20px;
  padding: 5px 20px;
}

.loginFail {
  background: rgba(255, 0, 0, 0.808);
  display: none;
}